body {
    margin: 0;
}

header {
    background-color: white;
    border-bottom: 1px solid;
    border-bottom-color: #e1e9ef;
    height: 63px;
    width: 100%;
    position: fixed;
    top: 0;
}

.header1 {
    height: 64px;
    width: 1408px;
    align-items: center;
    padding: 0px 16px;
    display: flex;
    height: 64px;
    max-width: 100%;
    margin: 0 auto;
    flex-flow: row nowrap;
    flex-basis: 100%;
    flex-grow: 0;
}

.header2 {
    box-sizing: border-box;
    height: 64px;
    width: 50%;
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
}

main {
    width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    height: 100%;
    text-align: initial;
    align-items: center;
}

.principal {
    width: 100%;
    background-image: url("../imagem/desktop.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 70vh;
}

.conteiner {
    max-width: 420px;
    vertical-align: middle;
}


.conteinerlog {
    max-width: 420px;
    vertical-align: middle;
    display: none;
}

.conteiner1 {
    font-size: 3.5rem;
    line-height: 4.25rem;
    margin-bottom: 16px;
    font-family: 'HelveticaNowDisplay-ExtraBold',Arial,sans-serif;
    color: white;
    letter-spacing: 0;
    text-align: initial;
}

.conteiner2 {
    font-family: 'HelveticaNowText-Regular',Arial,sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;
    color: white;
    margin-bottom: 40px;
}

.box {
    background-color: white;
    height: 476px;
    width: 488px;
    border: 1px solid #e1e9ef;
    border-radius: 24px;
    margin: 0 16px;
    max-width: 488px;
    box-shadow: 0px 4px 8px #19202433;
    padding: 40px 32px;
    box-sizing: border-box;
}

.b1 {
    padding-left: 16px;
    padding-right: 16px;
    font-size: 2rem;
    line-height: 2.5rem;
    font-family: 'HelveticaNowDisplay-ExtraBold', Arial, sans-serif;
    text-align: left;
    color: #191f23;
}

.b2 {
    margin-top: 16px;
    padding: 16px;
    max-width: 100%;
    box-sizing: border-box;
}

.b2a {
    color: #191f23;
    font-family: 'HelveticaNowText-Regular',Arial,sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 16px;
}

.b2a1 {
    margin-bottom: 8px;
}

.b2b {
    display: flex;
    background: #f3f7fa;
    border: 1px solid #B7C8D5;
    border-radius: 8px;
    width: 100%;
    align-items: center;
    box-sizing: border-box;
}

.b2b1 {
    color: #b7c8d5;
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: HelveticaNowText-Regular,Arial,sans-serif;
    text-align: left;
    padding: 11px;
    width: 100%;
    box-sizing: border-box;
}

.b2b1text {
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: HelveticaNowText-Regular,Arial,sans-serif;
    text-align: left;
    padding: 11px;
    width: 100%;
    box-sizing: border-box;
}

.b2b2 {
    fill: #879dac;
    margin-right: 11px;
    width: 24px;
    height: 24px;
    display: flex;
    position: relative;
    box-sizing: border-box;
}

.b2c {
    margin-top: 32px;
    color: #ffffff;
    border: 1px solid;
    border-color: #d9562b;
    background-color: #ff774a;
    padding: 16px 32px;
    font-size: 1rem;
    font-family: HelveticaNowText-Regular,Arial,sans-serif;
    line-height: 1.5rem;
    border-radius: 12px;
    justify-content: center;
    display: flex;
    cursor: pointer;
}

    .b2c:hover {
        background-color: #d9562b;
    }

.cidade {
    margin-right: 12px;
    margin-bottom: 24px;
    cursor: pointer;
    border: 1px solid #B7C8D5;
    box-sizing: content-box;
    background-color: #FFFFFF;
    height: 32px;
    display: inline-flex;
    font-size: 0.875rem;
    line-height: 1.5;
    align-items: center;
    font-family: HelveticaNowText-Regular,Arial,sans-serif;
    border-radius: 16px;
    vertical-align: middle;
    justify-content: center;
    padding-left: 12px;
    padding-right: 12px;
}

    .cidade:hover {
        border: 1px solid #191f23;
    }

.logo {
    width: 1em;
    height: 1em;
    font-size: 40px;
    cursor: pointer;
    fill: #ff774a;
}

.seta {
    margin-left: 8px;
    width: 16px;
    height: 16px;
}

.flex-end {
    justify-content: flex-end;
}

.flex-start {
    justify-content: flex-start;
}

.item {
    font-family: 'HelveticaNowText-Regular',Arial,sans-serif;
    font-weight: normal;
    color: #191f23;
    height: 60px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    font-size: 1rem;
    border-bottom: 4px solid transparent;
    align-items: center;
    cursor: pointer;
    white-space: nowrap;
}

.itemexclusivo {
    font-family: 'HelveticaNowText-Regular',Arial,sans-serif;
    font-weight: normal;
    color: #191f23;
    height: 60px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    font-size: 1rem;
    border-bottom: 4px solid transparent;
    align-items: center;
    cursor: pointer;
}

.itemexclusivosair {
    font-family: 'HelveticaNowText-Regular',Arial,sans-serif;
    font-weight: normal;
    color: #191f23;
    height: 60px;
    margin: 0 auto;
    text-align: center;
    display: none;
    font-size: 1rem;
    border-bottom: 4px solid transparent;
    align-items: center;
    cursor: pointer;
}

.subitem {
    height: 64px;
    padding: 0 16px;
}

.item:hover {
    border-bottom-color: #ff774a;
}

.opcao {
    height: 40px;
    width: 40px;
    display: none;
    margin: 0 auto;
    align-items: center;
}

.espaco {
    background-color: white;
    width: 100%;
    height: 50px;
}

.login {
    background-color: white;
    padding: 15px;
    box-shadow: 0px 8px 16px #5364703d, 0px 1px 4px #53647066;
    z-index: 10;
    font-family: HelveticaNowText-Regular,Arial,sans-serif;
    display: none;
    position: fixed;
    align-items: center;
    align-content: center;
    border-radius: 8px;
    box-sizing: border-box;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    height: 450px;
    width: 300px;
    margin: -225px 0px 0px -150px;
    justify-content: space-around;
}

.logartitulo {
    font-size: 2rem;
    font-family: 'HelveticaNowDisplay-ExtraBold', Arial, sans-serif;
}

.logar {
    display: block;
}

.criar {
    display: none;
}

.criarconta {
    cursor: pointer;
    font-weight: bold;
}

li {
    list-style-type: none;
}

.fechar {
    position: absolute;
    right: 12px;
    top: 12px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
}

.logado {
    display: none;
}

.hidden {
    display: none;
}

.blurback {
    background: #ffffff52;
    width: 100%;
    height: 100%;
    z-index: 5;
    position: absolute;
    display: none;
}

.showf {
    display: flex;
}

.show {
    display: block;
}

.grafico {
    margin: auto auto;
    width: 80%;
    height: 400px;
}

input {
    outline: 0;
}

.mensagemerro {
    align-items: center;
    align-content: center;
    font-family: HelveticaNowText-Regular,Arial,sans-serif;
    color: #ff3232;
}

.semlogin {
    align-items: center;
    align-content: center;
    font-family: HelveticaNowText-Regular,Arial,sans-serif;
    color: #ff3232;
}

.mensagem {
    color: #ff3232;
    font-weight: bold;
}

.barrachave {
    margin: 0px;
    width: 100%;
    height: 52px;
    background-color: #fff3de;
    margin-top: 64px;
}

.chave {
    padding-left: 16px;
    padding-right: 16px;
    width: 24px;
    height: 24px;
}

.chavetexto1 {
    color: #6A5151;
    font-family: HelveticaNowText-Bold,Arial,sans-serif;
    flex-wrap: nowrap;
    font-size: 18px;
    padding-right: 64px;
}

.chavetexto2 {
    color: #877070;
    font-family: HelveticaNowText-Regular,Arial,sans-serif;
    flex-wrap: nowrap;
}

.chavetexto3 {
    color: #877070;
    font-family: HelveticaNowText-Regular,Arial,sans-serif;
    display: none;
    line-height: 24px;
    font-size: 14px;
}

.pr0 {
    padding-right: 0px;
}

@media only screen and (max-width: 600px) {
    main {
        width: 360px;
        height: 570px;
        flex-direction: column;
    }

    .principal {
        width: 100%;
        background-image: url("../imagem/mobile.png");
        background-repeat: no-repeat;
        background-size: cover;
        flex-direction: column;
        box-sizing: border-box;
        height: 652px;
        justify-content: center;
        box-sizing: border-box;
    }

    .header1 {
        width: 312px;
        padding: 0px 8px;
    }

    .logo {
        font-size: 32px;
    }

    .item {
        display: none;
    }

    .itemexclusivo {
        display: none;
    }

    .opcao {
        display: flex;
    }

    .box {
        padding: 24px 16px;
        width: 328px;
        height: 398px;
        margin-left: 16px;
        margin-right: 16px;
    }

    .conteiner {
        vertical-align: top;
        width: 328px;
        height: 152px;
        margin: 0 auto;
    }

    .conteiner1 {
        font-size: 2.5rem;
        height: auto;
        margin-top: 40px;
        margin-bottom: 16px;
        letter-spacing: 0;
        line-height: 3rem;
        text-align: left;
    }

    .conteiner2 {
        font-size: 0.875rem;
        height: 48px;
        margin-bottom: 16px;
        text-align: left;
    }

    .b1 {
        font-size: 1.5rem;
        padding-left: 8px;
        padding-right: 8px;
        line-height: 2rem;
    }

    .b2 {
        padding: 8px;
        margin-top: 8px;
    }

    .b2a {
        font-size: 0.875rem;
    }

    .b2b1 {
        font-size: 0.875rem;
    }

    .cidade {
        font-size: 0.75rem;
    }

    .b2c {
        padding: 12px 24px;
    }

    .espaco {
        display: none;
    }

    .barrachave {
        height: 106px;
    }

    .chavetexto1 {
        font-size: 16px;
        vertical-align: middle;
    }

    .chavetexto2 {
        display: none;
    }

    .chavetexto3 {
        display: flex;
        margin: 0px 8px;
    }

    .boxchave {
        padding-top: 16px;
        padding-bottom: 16px;
        margin-left: 16px;
        margin-right: 16px;
    }

    .boxchave2 {
        display: flex;
    }

    .chave {
        padding-left: 8px;
        padding-right: 8px;
        width: 24px;
        height: 24px;
    }
}

@font-face {
    font-family: 'HelveticaNowDisplay-ExtraBold';
    src: url('../font/HelveticaNowDisplay-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNowText-Regular';
    src: url('../font/HelveticaNowText-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'HelveticaNowText-Bold';
    src: url('../font/HelveticaNowText-Bold.ttf') format('truetype');
}