<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Compra e Venda de Apartamentos de Forma Descomplicada</title>
    <link rel="icon" type="imagem/png" href="../imagem/icon.png"/>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://code.jscharting.com/latest/jscharting.js"></script>
    <link rel="stylesheet" type="text/css" href="./css/style.css">
</head>
<body>
    <div class="blurback"></div>
    <header>
        <section class="header1">
            <div class="header2 flex-start">
                <div class="logo">
                    <svg focusable="false" viewBox="0 0 140 119" color="#FF774A" role="img" style="font-size:40px"><g fill-rule="evenodd"><polygon points="139.879 44.876 131.05 44.876 131.05 28.52 118.437 28.52 118.437 98.567 131.05 98.567 131.05 57.384 139.879 57.384"></polygon><path d="M90.6315856,119.840822 L78.018973,119.840822 L78.018973,27.6728524 C78.018973,12.9617512 90.087982,0.991235202 104.922937,0.991235202 L104.922937,13.4996113 C97.0425766,13.4996113 90.6315856,19.8576189 90.6315856,27.6728524 L90.6315856,119.840822 Z"></path><path d="M71.6580365,44.8761224 L112.073027,44.8761224 L108.497351,57.3844985 L71.6580365,57.3844985 C68.8358742,68.510984 58.6626658,76.7724816 46.5798919,76.7724816 C32.3225946,76.7724816 20.724036,65.2697789 20.724036,51.1303105 C20.724036,36.9908421 32.3225946,25.4881394 46.5798919,25.4881394 C58.6626658,25.4881394 68.8358742,33.749637 71.6580365,44.8761224 Z M32.0753874,51.1303105 C32.0753874,59.0618718 38.5822342,65.514943 46.5798919,65.514943 C54.5775495,65.514943 61.0843964,59.0618718 61.0843964,51.1303105 C61.0843964,43.1987492 54.5775495,36.7456779 46.5798919,36.7456779 C38.5822342,36.7456779 32.0753874,43.1987492 32.0753874,51.1303105 Z"></path><path d="M34.9076757,97.7300156 C15.6595676,97.7300156 -0.000252252253,82.1996158 -0.000252252253,63.1093321 L-0.000252252253,28.5199196 L12.6123604,28.5199196 L12.6123604,63.1093321 C12.6123604,75.3012464 22.6141622,85.2216395 34.9076757,85.2216395 L34.9076757,97.7300156 Z"></path></g><title>Loft</title></svg>
                </div>
            </div>
            <div class="header2 flex-end">
                <div class="subitem">
                    <div class="item">
                        Comprar
                        <div class="seta">
                            <svg width="16px" height="16px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 14.61L17.3124 9.28995C17.6985 8.90335 18.3244 8.90335 18.7104 9.28995C19.0965 9.67656 19.0965 10.3034 18.7104 10.69L12.699 16.71C12.3612 17.0483 11.8398 17.0906 11.4561 16.8369C11.4012 16.8007 11.3492 16.7584 11.301 16.71L5.28954 10.69C4.90349 10.3034 4.90349 9.67656 5.28954 9.28995C5.67559 8.90335 6.3015 8.90335 6.68755 9.28995L12 14.61Z" fill="#191F23"></path></svg>
                        </div>
                    </div>
                </div>
                <div class="subitem">
                    <div class="item">Vender</div>
                </div>
                <div class="subitem">
                    <div class="item">Propriedades Loft</div>
                </div>
                <div class="subitem">
                    <div class="item">Corretores</div>
                </div>
                <div class="subitem">
                    <div class="item">
                        Crédito
                        <div class="seta">
                            <svg width="16px" height="16px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 14.61L17.3124 9.28995C17.6985 8.90335 18.3244 8.90335 18.7104 9.28995C19.0965 9.67656 19.0965 10.3034 18.7104 10.69L12.699 16.71C12.3612 17.0483 11.8398 17.0906 11.4561 16.8369C11.4012 16.8007 11.3492 16.7584 11.301 16.71L5.28954 10.69C4.90349 10.3034 4.90349 9.67656 5.28954 9.28995C5.67559 8.90335 6.3015 8.90335 6.68755 9.28995L12 14.61Z" fill="#191F23"></path></svg>
                        </div>
                    </div>
                </div>
                <div class="subitem">
                    <div class="item">
                        Mais
                        <div class="seta">
                            <svg width="16px" height="16px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 14.61L17.3124 9.28995C17.6985 8.90335 18.3244 8.90335 18.7104 9.28995C19.0965 9.67656 19.0965 10.3034 18.7104 10.69L12.699 16.71C12.3612 17.0483 11.8398 17.0906 11.4561 16.8369C11.4012 16.8007 11.3492 16.7584 11.301 16.71L5.28954 10.69C4.90349 10.3034 4.90349 9.67656 5.28954 9.28995C5.67559 8.90335 6.3015 8.90335 6.68755 9.28995L12 14.61Z" fill="#191F23"></path></svg>
                        </div>
                    </div>
                </div>
                <div class="subitem pr0">
                    <div class="itemexclusivo">Entrar</div>
                    <div class="itemexclusivosair">Sair</div>
                </div>

                <div class="opcao">
                    <svg width="24px" height="24px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M5.5 5C4.67157 5 4 5.67157 4 6.5C4 7.32843 4.67157 8 5.5 8H18.5C19.3284 8 20 7.32843 20 6.5C20 5.67157 19.3284 5 18.5 5H5.5Z" fill="#191F23"></path><path d="M4 11.5C4 10.6716 4.67157 10 5.5 10H18.5C19.3284 10 20 10.6716 20 11.5C20 12.3284 19.3284 13 18.5 13H5.5C4.67157 13 4 12.3284 4 11.5Z" fill="#191F23"></path><path d="M4 16.5C4 15.6716 4.67157 15 5.5 15H18.5C19.3284 15 20 15.6716 20 16.5C20 17.3284 19.3284 18 18.5 18H5.5C4.67157 18 4 17.3284 4 16.5Z" fill="#191F23"></path></svg>
                </div>
            </div>
        </section>
    </header>

    <div class="login">
        <div class="fechar">X</div>
        <div class="logar">
            <div class="logartitulo">Entrar</div><br>
                <form action="/login" method="post">
                    <label for="emaillogar">Email (min 3 caracteres)</label>
                    <input type="text" class="b2b1text" name="emaillogar" id="emaillogar" placeholder="Seu email"><br><br>
                    <label for="senhalogar">Email (min 3 caracteres)</label>
                    <input type="password" class="b2b1text" name="senhalogar" id="senhalogar" placeholder="Sua senha"><br><br>
                    <input type="submit" class="b2c" style="margin: 0" id="botaologar" value="Enviar">
                </form><br>
                <div class="criarconta">Criar Conta</div>
        </div>
        <div class="criar">
            <div class="logartitulo">Criar Conta</div><br>
                <form action="/create" method="post">
                    <label for="emailcriar">Email (min 3 caracteres)</label>
                    <input type="text" class="b2b1text" name="emailcriar" id="emailcriar" placeholder="Seu email" /><br><br>
                    <label for="senhacriar">Senha (min 3 caracteres)</label>
                    <input type="password" class="b2b1text" name="senhacriar" id="senhacriar" placeholder="Sua senha" /><br><br>
                    <div>Repita Senha (min 3 caracteres)</div>
                    <input type="password" class="b2b1text" id="senhaverificar" placeholder="Repita sua senha" /><br><br>
                    <input type="submit" class="b2c" style="margin: 0" id="botaocriar" value="Enviar" />
                </form>
        </div>
        <span class="mensagem"></span>
    </div>
    <div class="principal">
        <main>
            <div class="conteiner">
                <div class="conteiner1">Nunca é só um apartamento</div>
                <div class="conteiner2">Encontre metros quadrados para transformar em metros vividos com assessoria da Loft.</div>
            </div>
            <div class="conteinerlog">
                <div class="conteiner1">APIs sem mistérios</div>
                <div class="conteiner2">Encontre a população com toda a facilidade e a assessoria da Loft.</div>
            </div>
            <div class="box">
                <div class="b1">
                    Comece sua busca pela região
                </div>
                <div class="b2">
                    <div class="b2a">Cidade</div>
                    <div class="cidade">São Paulo</div>
                    <div class="cidade">Rio de Janeiro</div>
                    <div class="b2a b2a1">Bairro</div>
                    <div class="b2b">
                        <div class="b2b1">Selecione</div>
                        <div class="b2b2"><svg xmlns="http://www.w3.org/2000/svg"><path d="M12 14.61L17.3124 9.28995C17.6985 8.90335 18.3244 8.90335 18.7104 9.28995C19.0965 9.67656 19.0965 10.3034 18.7104 10.69L12.699 16.71C12.3612 17.0483 11.8398 17.0906 11.4561 16.8369C11.4012 16.8007 11.3492 16.7584 11.301 16.71L5.28954 10.69C4.90349 10.3034 4.90349 9.67656 5.28954 9.28995C5.67559 8.90335 6.3015 8.90335 6.68755 9.28995L12 14.61Z"></path></svg></div>
                    </div>
                    <div class="b2c" id="botaoerro">Buscar apartamentos</div>
                    <span class="semlogin"></span>
                </div>
            </div>
            <div class="box logado">
                <div class="b1">
                    Encontre a população da cidade dos sonhos
                </div>
                <div class="b2">
                    <div class="b2a">Estado</div>
                    <div class="cidade" id="sp">São Paulo</div>
                    <div class="cidade" id="rj">Rio de Janeiro</div>
                    <div class="cidade" id="pr">Paraná</div>
                    <div class="b2a b2a1">Cidade</div>
                    <div class="b2b">
                        <input type="text" name="city" class="b2b1text" id="buscacidade" placeholder="Digite a cidade" />
                    </div>
                    <div class="b2c" id="botaocidade">Buscar cidade</div>
                    <br>
                    <span class="mensagemerro"></span>
                </div>
            </div>
        </main>
    </div>

    <div class="espaco"></div>

    <div class="b1" style="color: red; text-align: center">{{erro}}</div>
    <span class="apierro"></span>
    <div class="grafico" id="chartDiv"></div>

    <script type="text/javascript" charset="utf-8">
        var entrar = document.querySelector('.itemexclusivo'),
            blurback = document.querySelector('.blurback'),
            sair = document.querySelector('.itemexclusivosair'),
            box = document.querySelector('.box'),
            logado = document.querySelector('.logado'),
            fechar = document.querySelector('.fechar'),
            loginbox = document.querySelector('.login'),
            criarconta = document.querySelector('.criarconta'),
            logar = document.querySelector('.logar'),
            criar = document.querySelector('.criar'),
            bcriar = document.getElementById('botaocriar'),
            blogar = document.getElementById('botaologar'),
            mensagem = document.querySelector('.mensagem'),
            sp = document.getElementById('sp'),
            rj = document.getElementById('rj'),
            pr = document.getElementById('pr'),
            buscar = document.getElementById('botaocidade'),
            cidade = document.getElementById('buscacidade'),
            boxverificarsenha = document.getElementById('senhaverificar'),
            boxsenha = document.getElementById('senhacriar'),
            boxemail = document.getElementById('emailcriar'),
            boxsenha2 = document.getElementById('senhalogar'),
            boxemail2 = document.getElementById('emaillogar'),
            mensagemerro = document.querySelector('.mensagemerro'),
            conteiner = document.querySelector('.conteiner'),
            conteinerlog = document.querySelector('.conteinerlog'),
            botaoerro = document.getElementById('botaoerro'),
            semlogin = document.querySelector('.semlogin'),
            estado,
            dados;

        bcriar.disabled = true;
        bcriar.style.backgroundColor = '#ff9f80';
        bcriar.style.cursor = 'default';
        blogar.disabled = true;
        blogar.style.backgroundColor = '#ff9f80';
        blogar.style.cursor = 'default';

        function buscaapi() {
            var site = document.getElementsByName("city")[0].value;
            var siten = site.normalize('NFD').replace(/[\u0300-\u036f]/g, "");
            var sitef = siten.replace(/\s/g, '');
            var label = site.toUpperCase();

            axios.get('https://www.quandl.com/api/v3/datasets/CITYPOP/CITY_' + sitef + estado + 'BRAZIL.json?api_key=YPQ_7Tz1GuGtRh_QK_GV')
                .then((json) => {
                    dados = json.data.dataset.data;

                    let points = dados.map(d => {
                        return { x: d[0], y: d[1] };
                    });

                    JSC.Chart("chartDiv", {
                        series: [{ points: points }],
                        xAxis_scale_type: "time",
                        xAxis_label_text: "Ano",
                        yAxis_label_text: "População",
                        title_label_text: "POPULAÇÃO DE " + label,
                        legend_visible: false
                    });

                })
                .catch((err) => {
                    JSC.Chart("chartDiv", {});
                    mensagemerro.innerHTML = 'Cidade digitada incorretamente ou não existente no banco de dados';
                })
        };

        function verificarLogin() {
            if (localStorage.getItem('token') === 'QpwL5tke4Pnpja7X4') {
                entrar.className = 'itemexclusivo hidden';
                sair.className = 'itemexclusivosair showf';
                box.className = 'box hidden';
                logado.className = 'box logado show';
                conteiner.className = 'conteiner hidden';
                conteinerlog.className = 'conteinerlog show';
            } else {
                entrar.className = 'itemexclusivo';
                sair.className = 'itemexclusivosair';
                box.className = 'box';
                logado.className = 'logado';
                conteiner.className = 'conteiner';
                conteinerlog.className = 'conteinerlog';
            }
        };

        function loginapi() {
            /*axios.post('https://reqres.in/api/login', {
                email: document.getElementById('emaillogar').value,
                password: document.getElementById('senhalogar').value
            })
                .then((response) => {
                    mensagem.innerHTML = 'Login efetuado';
                    localStorage.setItem('token', response.data.token);
                    verificarLogin();
                    window.setTimeout(function () {
                        loginbox.className = 'login';
                        blurback.className = 'blurback';
                    }, 1100);
                    document.getElementById('senhalogar').value = '';
                    document.getElementById('emaillogar').value = '';
                })
                .catch((err) => {
                    mensagem.innerHTML = err.response.data.error;
                    document.getElementById('senhalogar').value = '';
                });*/
        };

        function criarapi() {
                /*axios.post('https://reqres.in/api/register', {
                    email: document.getElementById('emailcriar').value,
                    password: document.getElementById('senhacriar').value
                })
                    .then((response) => {
                        mensagem.innerHTML = 'Conta criada';
                        window.setTimeout(function () {
                            loginbox.className = 'login showf';
                            logar.className = 'logar';
                            criar.className = 'criar';
                            mensagem.innerHTML = '';
                            blurback.className = 'blurback show';
                        }, 1100);
                        document.getElementById('senhaverificar').value = '';
                        document.getElementById('senhacriar').value = '';
                        document.getElementById('emailcriar').value = '';
                    })
                    .catch((err) => {
                        mensagem.innerHTML = err.response.data.error;
                        document.getElementById('senhaverificar').value = '';
                        document.getElementById('senhacriar').value = '';

                    });*/
        };

        function verificarsenha() {

            if (boxverificarsenha.value != boxsenha.value) {
                boxverificarsenha.style.borderColor = "#f50000";
            } else {
                boxverificarsenha.style.borderColor = "";
            }

            if ((boxsenha.value).length >= 3 && (boxemail.value).length >= 3 && boxverificarsenha.value == boxsenha.value) {
                bcriar.style.backgroundColor = '';
                bcriar.style.cursor = '';
                bcriar.disabled = false;
            } else {
                bcriar.style.backgroundColor = '#ff9f80';
                bcriar.style.cursor = 'default';
                bcriar.disabled = true;
            }

        };

        function verificabotaologar() {
            if ((boxsenha2.value).length >= 3 && (boxemail2.value).length >= 3) {
                blogar.style.backgroundColor = '';
                blogar.style.cursor = '';
                blogar.disabled = false;
            } else {
                blogar.style.backgroundColor = '#ff9f80';
                blogar.style.cursor = 'default';
                blogar.disabled = true;
            }
        }

        botaoerro.addEventListener("click", function () {
            if (localStorage.getItem('token') != 'QpwL5tke4Pnpja7X4') {
                semlogin.innerHTML = 'Você precisa estar logado para completar essa ação';
                window.setTimeout(function () {
                    semlogin.innerHTML = '';
                }, 3000);
            }
        });

        boxverificarsenha.addEventListener('keyup', function () {
            verificarsenha();
        });

        boxsenha.addEventListener('keyup', function () {
            if ((boxsenha.value).length < 3) {
                boxsenha.style.borderColor = "#f50000";
            } else {
                boxsenha.style.borderColor = "";
            }
            verificarsenha();
        });

        boxsenha.addEventListener('click', function () {
            if ((boxsenha.value).length < 3) {
                boxsenha.style.borderColor = "#f50000";
            } else {
                boxsenha.style.borderColor = "";
            }
            verificarsenha();
        });

        boxemail.addEventListener('keyup', function () {
            verificarsenha();

            if ((boxemail.value).length < 3) {
                boxemail.style.borderColor = "#f50000";
            } else {
                boxemail.style.borderColor = "";
            }
        });

        boxemail.addEventListener('click', function () {
            verificarsenha();

            if ((boxemail.value).length < 3) {
                boxemail.style.borderColor = "#f50000";
            } else {
                boxemail.style.borderColor = "";
            }
        });

        boxemail2.addEventListener('keyup', function (e) {
            verificabotaologar();
            if ((boxemail2.value).length < 3) {
                boxemail2.style.borderColor = "#f50000";
            } else {
                boxemail2.style.borderColor = "";
                if (e.key === 'Enter' && (boxsenha2.value).length < 3 && (boxemail2.value).length < 3) {
                    loginapi();
                }
            }
        });

        boxsenha2.addEventListener('keyup', function (e) {
            verificabotaologar();
            if ((boxsenha2.value).length < 3) {
                boxsenha2.style.borderColor = "#f50000";
            } else {
                boxsenha2.style.borderColor = "";
                if (e.key === 'Enter' && (boxsenha2.value).length < 3 && (boxemail2.value).length < 3) {
                    loginapi();
                }
            }
        });

        boxemail2.addEventListener('click', function () {
            if ((boxemail2.value).length < 3) {
                boxemail2.style.borderColor = "#f50000";
            } else {
                boxemail2.style.borderColor = "";
            }
        });

        boxsenha2.addEventListener('click', function () {
            if ((boxsenha2.value).length < 3) {
                boxsenha2.style.borderColor = "#f50000";
            } else {
                boxsenha2.style.borderColor = "";
            }
        });

        boxsenha.addEventListener('keypress', function (e) {
            if (e.key === 'Enter' && (boxsenha.value).length >= 3 && (boxemail.value).length >= 3 && boxverificarsenha.value == boxsenha.value) {
                criarapi();
            }
        });

        boxverificarsenha.addEventListener('keypress', function (e) {
            if (e.key === 'Enter' && (boxsenha.value).length >= 3 && (boxemail.value).length >= 3 && boxverificarsenha.value == boxsenha.value) {
                criarapi();
            }
        });

        boxemail.addEventListener('keypress', function (e) {
            if (e.key === 'Enter' && (boxsenha.value).length >= 3 && (boxemail.value).length >= 3 && boxverificarsenha.value == boxsenha.value) {
                criarapi();
            }
        });

        sp.addEventListener("click", function () {
            sp.style.background = "#cfdfeb";
            rj.style.background = "";
            pr.style.background = "";
            estado = "SP";
        });

        rj.addEventListener("click", function () {
            rj.style.background = "#cfdfeb";
            sp.style.background = "";
            pr.style.background = "";
            estado = "RJ";
        });

        pr.addEventListener("click", function () {
            pr.style.background = "#cfdfeb";
            rj.style.background = "";
            sp.style.background = "";
            estado = "PR";
        });

        buscar.addEventListener("click", function () {
            if (estado != null && cidade.value != '') {
                buscaapi();
                mensagemerro.innerHTML = '';
            } else if (estado == null && cidade.value == '') {
                mensagemerro.innerHTML = 'Faltou selecionar o estado e digitar a cidade';
            } else if (estado == null && cidade.value != '') {
                mensagemerro.innerHTML = 'Faltou selecionar o estado';
            } else if (estado != null && cidade.value == '') {
                mensagemerro.innerHTML = 'Faltou digitar a cidade';
            }
        });

        cidade.addEventListener("keypress", function (e) {
            if (e.key === 'Enter') {
                if (estado != null && cidade.value != '') {
                    buscaapi();
                    mensagemerro.innerHTML = '';
                } else if (estado == null && cidade.value == '') {
                    mensagemerro.innerHTML = 'Faltou selecionar o estado e digitar a cidade';
                } else if (estado == null && cidade.value != '') {
                    mensagemerro.innerHTML = 'Faltou selecionar o estado';
                } else if (estado != null && cidade.value == '') {
                    mensagemerro.innerHTML = 'Faltou digitar a cidade';
                }
            }
        });

        entrar.addEventListener("click", function () {
            loginbox.className = 'login showf';
            logar.className = 'logar';
            criar.className = 'criar';
            mensagem.innerHTML = '';
            blurback.className = 'blurback show';
            document.getElementById('senhaverificar').value = '';
            document.getElementById('senhacriar').value = '';
            document.getElementById('emailcriar').value = '';
            document.getElementById('senhalogar').value = '';
            document.getElementById('emaillogar').value = '';
        });

        sair.addEventListener("click", function () {
            localStorage.removeItem('token');
            JSC.Chart("chartDiv", {});
            verificarLogin();
        });

        fechar.addEventListener("click", function () {
            loginbox.className = 'login';
            blurback.className = 'blurback';
        });

        criarconta.addEventListener("click", function () {
            logar.className = 'logar hidden';
            criar.className = 'criar show';
            mensagem.innerHTML = '';
        });

        bcriar.addEventListener('click', () => {
            criarapi();
        });

        blogar.addEventListener('click', () => {
            loginapi();
        });

        verificarLogin();

    </script>

</body>
</html>